// sass colors

$White: #ffff;
$Black: #000;
$Primary-blue: #2471eb;
$Primary500: #5f9dfe;
$Primary200: #aef;
$Primary100: #f4f7fc;
$Secondary-blue: #cee0fc;
$Tertiary-blue: #a9cafd; //icons
$Primary-gray: #dadce5;
$Secondary-gray: #6b6e7b;
$Tertiary-gray: #2e2f32;
$Error: #dd2c2f;
$Success: #2dc653;
$Secondary-Main: #ffbf00;
$Warning: #f7953b;
$Textcolor-gray: #6b6b6b;
//tags
$Error600: #e35053;
$Error100: #fff2f2;
$Success600: #25a244;
$Success400: #4ad66d;
$Success100: #e5f8ea;
$Tertiary-100: #fff5ff;
$Tertiary-600: #ae3ec9;
$Warning-200: #fee6cf;
$Warning-900: #e86e00;
$Info-100: #eff9ff;
$Info-600: #58c2fe;
$Item-calender: #9dc2ff;

//background
$Bg-color: #fafafa;
$Bg-color1: #cec2ff;
$Bg-color2: #fbe9d0;
$Bg-color3: #ffc3c3;
$Bg-color4: #d8ffdc;
$Bg-color5: #d9e2ed;
$Bg-color6: #fbb2ae;
$Bg-color7: #ffb932;
$Bg-colors: (
  1: #fbe9d0,
  2: #ffc3c3,
  3: #d8ffdc,
  4: #d9e2ed,
  5: #fbb2ae,
  6: #ffb932,
);

//border
$Border-blue: #5f9dfe;
$Border-gray: #bec1ca;
$Border-white: #f6f8ff;

//boxshadow
$Boxshadow-toggle: #777;

//navigation
$Nav-item: #dadce5;
