@use "../abstracts/colors" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/extends" as *;

.main {
  &__action-top {
  }

  &__add-center {
  }

  &__add-bottom {
  }
}

.action-top {
  &__span {
    font-size: 14px;
  }

  &__inputs {
    @include flex();
    gap: 2rem;
    overflow-x: auto;
    padding: 15px 0;
  }
}

.picture-inputs {
  &__upload {
    height: 86px;
    min-width: 86px;
    border-radius: 24px;
    background-color: $White;
    @extend .boxShadowSecondary;
    @include flex(null, center, center);
  }
  &__input {
    // display: none;
  }
}

.upload {
  padding: 23px;
  border-radius: 24px;
  background-color: var(--bg-color);
  @extend .boxShadowSecondary;
  @include flex(null, center, center);
  &__img {
    width: 40px;
    height: 40px;
  }
  &__input {
    display: none;
  }
}

.add-center {
  padding: 30px 0;
  @include flex(column);
  gap: 2rem;
  &__input-container {
    @extend .inputContainer;
  }
  &__avatars {
  }
}

.clock-container {
  display: flex;
  gap: 0.5rem;
  &__input-container {
    @extend .inputContainer;
  }
}

.add-bottom {
  &__filter-container {
  }
}

.filter-container {
  &__btn-contain {
  }
}

.btn-container {
  @include flex(null, center);
  gap: 2rem;
  &__button {
    width: 200px;
    padding: 10px;
    border-radius: 16px;
    color: $Primary-blue;
    background-color: $White;
    border: solid 2px $Primary-blue;
  }
  &__button:hover {
    color: $White;
    border: solid 1px $Primary-blue;
    background-color: $Primary-blue;
  }
}
